# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.env
*.log

# Arduino
*.hex
*.elf
*.bin
*.eep
*.cpp.d
*.c.d
*.o
*.d
*.sdf
*.suo
*.dep
*.aux

# OS Files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# PyCharm
.idea/
